{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
  <section class="section authors">
    <h1 class="section__title authors__title">Authors list</h1>
    <a href="{{ path('author_new') }}" class="section__create-link">Add new author</a>

    <table class="table table-light">
      <thead>
      <tr>
        <th>№</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for author in authors %}
        {% set counter = (counter | default(0) ) + 1 %}
        <tr>
          <td>{{ counter }}</td>
          <td>{{ author.getShortName() }}</td>
          <td>
            <a href="{{ path('author_show', {'id': author.id}) }}">show</a>
            <a href="{{ path('author_edit', {'id': author.id}) }}">edit</a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="5">no records found</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
