{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}

  <section class="section books">
    <h1 class="section__title books__title">Books list</h1>

    <a href="{{ path('book_new') }}" class="section__create-link">Add new book</a>

    <table class="table table-light">
      <thead>
      <tr>
        <th>№</th>
        <th>Title</th>
        <th>Publication Date</th>
        <th>Page Count</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for book in books %}
        {% set counter = (counter | default(0) ) + 1 %}
        <tr>
          <td>{{ counter }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.publicationDate ? book.publicationDate|date('Y') : '' }}</td>
          <td>{{ book.pageCount }}</td>
          <td>
            <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
            <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="7">no records found</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
